@*JF needs changes*@

@model TeamProject.Models.Contact

@{
    ViewBag.Title = "Delete Contact";
}

<h1>Delete Contact</h1>
<p>Do you really want to delete <strong>@Model.FirstName @Model.LastName</strong>?</p>

<form asp-action="DeleteConfirmed" method="post">
    <input type="hidden" name="id" value="@Model.ContactId" />
    <button type="submit" class="btn btn-danger">Delete</button>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>