/* Global Styles */
html {
    height: 100%;
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

/* Header*/
header {
    background: linear-gradient(135deg, #343a40 0%, #495057 100%); /* Gradient background */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow */
}

h1 {
    font-size: 2.5rem; /* Larger font size for emphasis */
    margin-bottom: 0; /* No space below the heading */
    letter-spacing: 1px; /* Slightly increased letter spacing */
}

/* Navbar Styles */
a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

a {
    color: #0366d6;
}

/* Button Styles */
.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Active Nav Link Styles */
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Box Shadow */
.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

/* Footer Styles */
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex: 1;
}

footer {
    background: linear-gradient(135deg, #343a40 0%, #495057 100%); /* Gradient background */
    color: white;
    padding: 10px 0;
}

/* Miscellaneous Styles */
.border-top, .border-bottom {
    border-color: #e5e5e5;
}

.border-top {
    border-top: 1px solid;
}

.border-bottom {
    border-bottom: 1px solid;
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}
