<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/site.css">
</head>
<body class="wrapper">
    <header class="bg-dark text-white text-center py-3 mb-3">
        <h1 class="display-4">Contact Manager</h1>
    </header>
    <div class="container-fluid content">
        @RenderBody()
    </div>
    <footer class="bg-dark text-white text-center py-3">
        <p class="mb-0">Professional Team &copy; 2024</p>
    </footer>
</body>


</html>
